* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  height: 7vh; }

.main-index {
  height: 53vh; }

.footer {
  width: 100%;
  height: 3vh;
  background-color: #1A374D;
  color: #b1d0e0;
  font-size: 0.8rem;
  text-align: center;
  padding-top: 0.3%; }
